<!-- view -->
<!-- book.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>MUSIC ALBUM</title>
    <link rel="stylesheet" href="../css/style.css" />
    
  </head>
  <body>
    <h1>MUSIC ALBUM</h1>
    <center>
    <p>Music Format : <%= books.format %></p>
    <p>Music Name : <%= books.name %></p>
    <p>Composer Name : <%= books.composer %></p>
    <br>
    <br>
    <br>
    <a href="/update/<%= book.id %>" >Edit</a>
    <a href="/delete/<%= book.id %>" >Delete</a>
    <a href="/" >Back to List</a>
  </center>
  </body>
</html>