<!-- edit -->
<!-- update.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>UPDATE MUSIC ALBUM</title>
    <link rel="stylesheet" href="../css/style.css" />

  </head>
  <body>
    <h1>UPDATE MUSIC ALBUM</h1>
    <form  method="post" action="/update/<%= books.id%>">
      <br>
    <label for="format">Music Format : </label>
    <input type="text" name="format" id="format" value="<%= books.format %>">
    <br>

    <br>
    <label for="name">Music Name : </label>
    <input type="text" id="name" name="name" value="<%= books.name %>">
    <br>

    <br>
    <label for="composer">Composer Name : </label>
    <input type="text" id="composer" name="composer" value="<%= books.composer %>">
    <br>

    <br>
   <center> <input type="submit" value="Update"></center>
  </form>
  <br>
  <br>
<br>
<br>
 
<h1><font face ="Open Sans"  color="#006400">UPDATE MUSIC FORMAT</font></h1>
    <form  method="post" action="/update/<%= books.id%>">
      <br>
    <label for="title">Music Format : </label>
    <input type="text" name="title" id="title" value="<%= formats.title %>">
    <br>

    <br>
    <label for="author">Music Name : </label>
    <input type="text" id="author" name="author" value="<%= formats.author %>">
    <br>

    <br>
   <center> <input type="submit" value="Update"></center>
  </form>


<br>
<br>
<br>
  <center>
  <a href="/book/<%= books.id %>">View</a>
  <a href="/delete/<%= books.id %>">Delete</a>
  <a href="/">Back to List</a>
  </center>
  </body>
</html>